# JetBrains stuff
/.idea/
*.ipr
*.iml

# Compilation output
/target/
/build/
/out/
/classes/
/bin/

# Gradle stuff
/.gradle/
gradle.properties

# MinecraftForge
/eclipse/
/run/
/libs/
/.settings/
.classpath
.project
*.prefs
